@media print, (max-width: 1023px) {
 
    :root {
        --font_size: 18px;
        --font_size_title: 32px;
    }   

    .modal {
        padding: 60px 30px 30px;
    }
    .fancybox__content>.carousel__button.is-close {
        top: 30px;
        right: 30px;
    }
    .modal_title {
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
    }
    .modal_wrap {
        flex-direction: column;
    }
    .modal_info-title {
        font-size: 32px;
        margin-bottom: 18px;
    }
    .modal_info ul li {
        font-size: 18px;
    }
    .header_title {
        font-size: 75px;
        padding-top: 170px;
    }
    .header_text {
        font-size: 30px;
    }
    .header_calc {
        flex-direction: column;
        margin-top: 40px;
    }
    .product_item {
        padding: 12px;
        width: 100%;
    }
    .product_item:nth-child(5), 
    .product_item:nth-child(6), 
    .product_item:nth-child(7) {
        width: 100%;
    }
    .banner_title {
        font-size: 70px;
    }
    .service_item:nth-child(2n-1) {
        margin-bottom: 80px;
        flex-direction: column;
    }
    .service_item:nth-child(2n-1) .service_item-box {
        width: 100%;
    }
    .service_item:nth-child(2n-1) .service_item-img {
        margin: 0 auto;
    }
    .service_item:nth-child(2n) {
        flex-direction: column;
    }
    .service_item:nth-child(2n) .service_item-box {
        width: 100%;
        margin-left: 0;
    }
    .service_title br {
        display: none;
    }
    .service_item:nth-child(2n) .service_item-img {
        margin: 0 auto;
    }
    .service_item p br {
        display: none;
    }
    .service_text {
        font-size: 20px;
    }
    .service_description {
        font-size: 20px;
    }


   


    

    
}
