@media print, (max-width: 1300px) {


    .header_title {
        font-size: 100px;
        padding-top: 220px;
    }
    .header_text {
        font-size: 35px;
        line-height: 1.2;
    }
    .header_calc {
        margin-top: 65px;
    }
    .header_calc b {
        font-size: 26px;
    }
    .banner_wrap {
        padding: 170px 40px 40px;
    }
    .header_btn {
        width: 420px;
    }




}

