@media (max-width: 479px) {

    :root {
        --font_size: 16px;
        --font_size_title: 24px;
    }

    .modal_img {
        width: 100%;
        height: auto;
    }
    .header_title {
        font-size: 34px;
        padding-top: 120px;
        text-align: center;
    }
    .header_text {
        font-size: 20px;
        text-align: center;
    }
    .header_calc {
        margin-top: 20px;
    }
    .header_calc b {
        font-size: 20px;
        text-align: center;        
    }
    .header_btn {
        width: 100%;
        height: 44px;
        font-size: 14px;
        line-height: 44px;
        margin: 0 auto;
        outline: 2px dashed rgb(255, 255, 255);
        outline-offset: 4px;
    }
    header {
        padding-bottom: 44px;
    }
    .product_item-img {
        height: 166px;
    }
    .product_item-title {
        font-size: 20px;
    }
    .banner_title {
        font-size: 34px;
    }
    .banner_text {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .banner_btn {
        width: 100%;
        font-size: 18px;
    }
    .step_banner-text {
        font-size: 20px;
    }
    .step_banner-btn {
        font-size: 18px;
    }
    .quote_btn {
        width: 100%;
    }
    .stage_items {
        gap: 12px;
    }
    .stage_items > * {
        width: 100%;
        margin-bottom: 0;
    }
    .stage_item:nth-child(3n + 2) {
        margin-bottom: 0px;
    }
    .contacts_info-logo span b,
    .contacts_info-text,
    .contacts_info-phone,
    .contacts_info-logo,
    .contacts_info-graffik,
    .contacts_info-text {
        font-size: 16px;
    }
    .callback_title {
        font-size: 24px;
    }
    .callback button {
        font-size: 20px;
    }


    




   
}
