@media print, (max-width: 767px) {

    :root {
        --font_size: 18px;
        --font_size_title: 28px;
    }
    .header_logo {
        width: 137px;
        height: 35px;
    }
    .header_logo img {
        width: 100%;
    }
    header .menu {
        top: 84px;
    }
    header .menu.show {
        top: 84px;
    }
    .header_top {
        padding: 24px 0;
    }
    .footer_wrap {
        flex-direction: column-reverse;
    }
    .footer_title {
        font-size: 24px;
    }
    .footer_info {
        margin-top: 24px;
    }
    .footer_text {
        margin-bottom: 12px;
    }
    .footer_phone {
        font-size: 20px;
        line-height: 1.2;
    }
    .modal {
        padding: 60px 20px 20px;
    }
    .fancybox__content>.carousel__button.is-close {
        top: 20px;
        right: 20px;
    }
    .modal_title {
        font-size: 32px;
        margin-bottom: 16px;
    }
    .modal_info-title {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .modal_info ul li {
        font-size: 16px;
    }
    .modal form .line {
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        width: 100%;
    }
    .modal form .line .field {
        width: 100%;
        margin-bottom: 15px;
    }
    .modal form {
        flex-direction: column;
        gap: 0px;
    }
    .modal form button {
        width: 100%;
    }
    .header_title {
        font-size: 46px;
        padding-top: 130px;
        text-align: center;
    }
    .header_text {
        font-size: 24px;
        text-align: center;
    }
    .header_calc {
        margin-top: 20px;
    }
    .header_calc b {
        font-size: 24px;
        text-align: center;        
    }
    .header_btn {
        width: 404px;
        height: 60px;
        background: #fff;
        font-size: 24px;
        line-height: 60px;
        margin: 0 auto;
    }
    .block {
        padding: 40px 0;
    }
    .banner_wrap {
        padding: 60px 12px;
        border-radius: 0;
        margin-left: -12px;
        margin-right: -12px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .banner_title {
        font-size: 44px;
    }
    .banner_text br {
        display: none;
    }
    .cont {
        padding: 0 12px;
    }
    .service_item:nth-child(2n-1) .service_item-img {
        width: 100%;
        height: auto;
    }
    .service_item:nth-child(2n) .service_item-img {
        width: 100%;
        height: auto;
    }
    .service_text {
        font-size: 18px;
    }
    .service_item ol li, 
    .service_item ul li,
    .service_item p {
        font-size: 16px;
    }
    .step_items > * {
        width: 100%;
    }
    .step_items {
        gap: 10px;
    }
    .step_banner {
        flex-direction: column;
        align-items: flex-start;
    }
    .quote {
        padding: 34px 32px 150px;
    }
    .quote_btn {
        position: relative;
        margin-top: 10px;
        right: 0;
        bottom: 0;
    }
    .quote:before {
        top: auto;
        left: 30px;
        bottom: 20px;
    }
    .quote ul {
        width: 100%;
    }
    .stage_items > * {
        width: calc(100% / 2 - 20px);
        margin-bottom: 15px;
    }
    .stage_item:nth-child(3n + 2) {
        margin-top: 0;
        margin-bottom: 15px;
    }
    .stage_items {
        gap: 15px;
    }
    .contacts_wrap {
        display: flex;
        flex-direction: column-reverse;     
        margin-left: -12px;
        margin-right: -12px;
    }
    .contacts_info {
        position: relative;
        max-width: 100%;
        width: 100%;
        border-radius: 0px;
        padding: 23px;
        left: 0px;
        top: 0px;   
    }
    .contacts_info-logo {
        font-size: 20px;
    }
    .contacts_info-logo span b {
        font-size: 20px;
    }





}
