@media print, (max-width: 767px) {

    :root {
        --font_size: 15px;
        --font_size_title: 36px;
    }
    .header_logo {
        width: 137px;
        height: 35px;
    }
    .header_logo img {
        width: 100%;
    }
    .header_bottom {
        margin-top: 82px;
    }
    header .menu {
        top: 84px;
    }
    .header_top {
        padding: 24px 0;
    }
    .footer_wrap {
        flex-direction: column-reverse;
    }
    .footer_title {
        font-size: 24px;
    }
    .footer_info {
        margin-top: 24px;
    }
    .footer_text {
        margin-bottom: 12px;
    }
    .footer_phone {
        font-size: 20px;
        line-height: 1.2;
    }
    .modal {
        padding: 60px 20px 20px;
    }
    .fancybox__content>.carousel__button.is-close {
        top: 20px;
        right: 20px;
    }
    .modal_title {
        font-size: 28px;
        margin-bottom: 16px;
    }
    .modal_info-title {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .modal_info ul li {
        font-size: 16px;
    }
    .modal form .line {
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        width: 100%;
    }
    .modal form .line .field {
        width: 100%;
        margin-bottom: 15px;
    }
    .modal form {
        flex-direction: column;
        gap: 0px;
    }
    .modal form button {
        width: 100%;
    }





}
