@media print, (max-width: 1470px) {

    .header_title {
        font-size: 128px;
        line-height: 1.1;
    }
    .block {
        padding: 50px 0;
    }
    .header_top {
        max-width: calc(100% - 40px);
        padding: 23px 0;
    }
    header .menu.show {
        top: 120px;
    }



}

